{% extends 'base.html' %}

{% block title %}Assessments{% endblock %}

{% block content %}
    <h1>Assessments</h1>
    <a href="{% url 'assessment_create' %}">Add New Assessment</a>
    <ul>
        {% for assessment in assessments %}
            <li>
                Assessment for Exam {{ assessment.exam_id }} - 
                <a href="{% url 'assessment_update' assessment.pk %}">Edit</a> |
                <a href="{% url 'assessment_delete' assessment.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

