{% extends 'base.html' %}

{% block title %}Report Cards{% endblock %}

{% block content %}
    <h1>Report Cards</h1>
    <a href="{% url 'report_card_create' %}">Add New Report Card</a>
    <ul>
        {% for report_card in report_cards %}
            <li>
                Report Card for Student {{ report_card.student_id }} - 
                <a href="{% url 'report_card_update' report_card.pk %}">Edit</a> |
                <a href="{% url 'report_card_delete' report_card.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

