i{% extends 'base.html' %}

{% block content %}
<h2>User Activity Logs</h2>
<a href="{% url 'useractivitylog-create' %}" class="btn btn-primary">Create User Activity Log</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Activity</th>
            <th>Activity Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for useractivitylog in useractivitylogs %}
        <tr>
            <td>{{ useractivitylog.id }}</td>
            <td>{{ useractivitylog.user.username }}</td>
            <td>{{ useractivitylog.activity }}</td>
            <td>{{ useractivitylog.activity_time }}</td>
            <td>
                <a href="{% url 'useractivitylog-update' useractivitylog.id %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'useractivitylog-delete' useractivitylog.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

