{% extends 'base.html' %}

{% block title %}Curriculums{% endblock %}

{% block content %}
    <h1>Curriculums</h1>
    <a href="{% url 'curriculum_create' %}">Add New Curriculum</a>
    <ul>
        {% for curriculum in curriculums %}
            <li>
                {{ curriculum.curriculum_name }} - 
                <a href="{% url 'curriculum_update' curriculum.pk %}">Edit</a> |
                <a href="{% url 'curriculum_delete' curriculum.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

